<h1><%= @list.name %></h1>

<ul>
  <% @movies.each do |movie| %>
    <h2><%= movie.title %></h2>

    <ul>
      <li><%= movie.overview %></li>
      <li><%= movie.rating %></li>
      <%= link_to "Delete movie",
        bookmark_path(movie),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </ul>

  <% end %>
</ul>

<p><%= link_to "Add new movie", new_list_bookmark_path(@list) %></p>

<%= link_to "Delete list",
  list_path(@list),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<p><%= link_to "Go back", lists_path %></p>
